@import '../../../assets/styles/styles.scss';

.topten{
    font-family: $font-primary;
    font-size: 15px;
    border: 1px solid black;
    width: 100%;
    &__title{
        &>h3{
            font-size: 20px;
            color: $primary-color;
        }
    }
    &__table{
        border: 1px solid black;
        height: 25vh;
    }
}