.pricestable{
    width: 100vw;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    &__rows{
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 96vw;
        height: 100vh;
    }
}