.pricestable{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__rows{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 96%;
    }
    &__nav{
        width: 96%;
        height: 50px;
        display: flex;
        justify-content: flex-end;
    }
}