@import '../../assets/styles/styles.scss';
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.dropDown{
	z-index: 9999999999999999999;
	position: absolute;
	right: 0;
	top: 49px;
	width: 100vw;
	height: 45vh;
	background-color: $primary-color;
	&__text{
		font-size: 22px;
		margin:8px;
        color: $secondary-color;
        &:active{
            text-decoration: none;
        }
        &:link{
            text-decoration: none;
        }
		&:hover{
			cursor: pointer;
		}
	}
}

hr{
    border-bottom: 1px solid $secondary-color;
    width: 38px;
    opacity: 100%;
}


.nav{
	height: 50px;
	padding: 0; 
	min-width: 98vw;
	background-color: $primary-color;
	color: $secondary-color;
	font-family: $font-primary;
	&__img{
		height: 40px;
		width: 40px;
		margin-left: 2vw;
	}
	&__header{
		color: $secondary-color;
	}
	&__burger{
		display: flex;
		font-size: 20px;
		margin-right: 1.5vw;
		width: fit-content;
		&>button{
			color: $secondary-color;
			margin-right: 10px;
			font-family: $font-primary;
			&:hover{
				background-color: $secondary-color;
				color: $primary-color;
			}
		}
	}
}


